# Entorno virtual
venv/
.venv/
env/

# Base de datos local
*.db
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Archivos de sistema / IDE
.vscode/
.idea/
.DS_Store

# Archivos de bitácora
*.log
